*{
  font: bold 18px/36px Helvetica-Neue, Helvetica, Arial, sans-serif;
}
.video-container
{
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index:-1;
    overflow: hidden;
    position: absolute;
}
.video-container video
{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
label {
  position: fixed;
  top: 300px;
  left: 50%;
  width: 500px;
  height: 30px;
  margin: 0 0 0 -250px;

  text-align: center;
}
input {
  position: fixed;
  top: 300px;
  left: 50%;
  width: 500px;
  height: 30px;
  margin: 0 0 0 -250px;

  text-align: center;
  color: #888;
  border: none;

  opacity: 0;
  filter:alpha(opacity=0); /* For IE8 and earlier */
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

input:hover{
  opacity: 1;
  filter:alpha(opacity=100); /* For IE8 and earlier */
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

/* Add in the focus to see bar size and where it is */
input:focus,
input:hover,
select:focus{
  outline: none;
  border: none;
}