* {
    font: bold 18px/36px Helvetica-Neue, Helvetica, Arial, sans-serif;
}

/*html {*/
/*background: url(../media/tree.jpg) no-repeat center center fixed;*/
/*-webkit-background-size: cover;*/
/*-moz-background-size: cover;*/
/*-o-background-size: cover;*/
/*background-size: cover;*/
/*}*/

.video-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    position: absolute;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    position: fixed;
    top: 300px;
    left: 50%;
    width: 500px;
    height: 30px;
    margin: 0 0 0 -250px;

    text-align: center;
}

input {
    position: absolute;
    top: 300px;
    width: 500px;
    height: 30px;
    margin: 0 0 0 -250px;

    text-align: center;
    color: #888;
    border: none;

    opacity: 1;
}

.icon-block {
  padding: 0 15px;
}

input:hover {
    color: black;
}

/* Add in the focus to see bar size and where it is */
input:focus,
input:hover,
select:focus {
    outline: none;
    border: none;
}

#search-container {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

#user {
    margin-left: auto;
    margin-right: auto;
    width: 8vm;
}