<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/materialize.min.css')}}"
          media="screen,projection"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{url_for('static',filename='js/home.js')}}"></script>
    <script type="text/javascript" src="../static/js/materialize.min.js"></script>
    <title>Profile Finder</title>
</head>
<body>
<div class="video-container">
    <video frameborder=0 autoplay muted loop>
        <source src="{{url_for('static',filename='media/city.mp4')}}" type="video/mp4">
    </video>
</div>
<div class="container" id="search-container">
    <form id = "form">
        <!--    Add label if needed -->
        <input type="text" id="user" placeholder="Search" name="search" autocomplete="off"
               autocorrect="true"/>
    </form>
</div>
<div class="container" id = "loadout">
    <div class="section">
        <div class="row">
            <div class="col s12 m4 l3 z-depth-4">
                <div class="icon-block">
                    <h2 class="center">
                        <img src="../static/media/githubTransparent.png" class="auto-resizing"/>
                    </h2>
                    <h5 class="center">Github</h5>
                    <h2 class="center">
                        <a href = "http://github.com"  target="_blank" class ="btn-floating btn-large waves-effect waves-light auto-resizing" style="background: #E57373" id="gitStatus"> </a>
                    </h2>
                </div>
            </div>
            <div class="col s12 m4 l1">

            </div>
            <div class="col s12 m4 l3 z-depth-4">
                <div class="icon-block">
                    <h2 class="center">
                        <img src="../static/media/youtubeRealLogo.png" class="auto-resizing"/>
                    </h2>
                    <h5 class="center">YouTube</h5>
                    <h2 class="center">
                        <a href = "http://youtube.com" target="_blank" class ="btn-floating btn-large waves-effect waves-light auto-resizing" style="background: #E57373" id="youtubeStatus"> </a>
                    </h2>
                </div>
            </div>
            <div class="col s12 m4 l1">

            </div>
            <div class="col s12 m4 l3 z-depth-4">
                <div class="icon-block">
                    <h2 class="center">
                        <img src="../static/media/twitterLogo.png" class="auto-resizing"/>
                    </h2>
                    <h5 class="center">Twitter</h5>
                    <h2 class="center">
                        <a href = "http://twitter.com" target="_blank" class ="btn-floating btn-large waves-effect waves-light auto-resizing" style="background: #E57373" id="twitterStatus"> </a>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4 l3 z-depth-4">
                <div class="icon-block">
                    <h2 class="center">
                        <img src="../static/media/instagramLogo.png" class="auto-resizing"/>
                    </h2>
                    <h5 class="center">Instagram</h5>
                    <h2 class="center">
                        <a href = "http://instagram.com" target="_blank" class ="btn-floating btn-large waves-effect waves-light auto-resizing" style="background: #E57373" id="instaStatus"> </a>
                    </h2>
                </div>
            </div>
            <div class="col s12 m4 l1">

            </div>
            <div class="col s12 m4 l3 z-depth-4">
                <div class="icon-block">
                    <h2 class="center">
                        <img src="../static/media/tumblrLogo.png" class="auto-resizing"/>
                    </h2>
                    <h5 class="center">Tumblr</h5>
                    <h2 class="center">
                        <a href = "http://tumblr.com" target="_blank" class ="btn-floating btn-large waves-effect waves-light auto-resizing" style="background: #E57373" id = "tumblrStatus"> </a>
                    </h2>
                </div>
            </div>
            <div class="col s12 m4 l1">

            </div>
            <div class="col s12 m4 l3 z-depth-4">
                <div class="icon-block">
                    <h2 class="center">
                        <img src="../static/media/twitterLogo.png" class="auto-resizing"/>
                    </h2>
                    <h5 class="center">Twitter</h5>
                    <h2 class="center">
                        <a href = "http://facebook.com" target="_blank" class ="btn-floating btn-large waves-effect waves-light auto-resizing" style="background: #E57373" id="facebookStatus"> </a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row center">
            <a class="btn-large waves-effect waves-light" id="return">Back to Search</a>
        </div>
    </div>
</div>
<footer class="page-footer" style="background: #26a69a">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Usage</h5>
                <p class ="grey-text text-lighten-4">Search usernames on popular social networking sites. Status of usernames are shown for ease of use. Credits to Github, Youtube, Twitter, Instagram, Tumblr, and Facebook for logo usage. Website made using Materialize.</p>
            </div>
            <div class="col l2 s12">

            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <a class="btn-large waves-effect waves-light white blue-grey-text" id="myInfo">Connect With Me!</a>
            </div>
        </div>
    </div>
     <div class="footer-copyright">
        <div class = "container">
            Created by Rick Zhang
        </div>
    </div>
</footer>
</body>
</html>